---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "About me";

const identity = {
    firstName: "Skye",
    pronouns: "they/them",
    country: "the United States",
    occupation: "Software Engineer",
    hobbies: ["photography", "camping", "F1"]
};

const skills = ["React", "Angular", "Typescript", "C#", "Python", "Ruby"];

const skillColor = "navy";
---
<BaseLayout pageTitle={pageTitle}>


    <p>I'm making this site as I work through the Astro tutorial.</p>

    <p>Here are a few facts about me:</p>

    <ul>
        <li>My name is {identity.firstName} and I use {identity.pronouns} pronouns.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.</li>
        }
    </ul>

    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>


    <style is:global define:vars={{skillColor}}>
        h1 {
        color: purple;
        font-size: 4rem;
        }
        .skill {
            color: var(--skillColor);
            font-weight: bold;
        }
    </style>
</BaseLayout>
